html {
	height: 100%;
}

body {
	background-color: #000;
	/*   background: url(images/bg.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; */
	color: #fff;
	font-family: 'Averia Serif Libre', 'Palatino', Georgia, serif;
	font-weight: light;
	height: 100%;
	text-align: center;
}

h1, h2, p {
	text-align: center;
}

h1 {
	background: transparent url(../images/notation-capital-logo.png) top center no-repeat;
	text-indent: -9999px;
	height: 191px;
	width: 124px;
	margin: 60px auto 40px;
	display: block;
	position: relative;
	left: -9px;
}

h2 {
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 40px auto 0 auto;
	font-weight: light;
}

p {
	font-size: 16px;
	line-height: 22px;
	margin: 10px auto 0 auto;
	padding-bottom: 3px;	
	max-width: 500px;
}

a {
	color: #B18410;
	text-decoration: none;
	border-bottom: transparent dotted 1px;
	padding-bottom: 2px;
}

a:hover, a:active {
	color: #B18410; 
	text-decoration: none;
	border-bottom: #B18410 dotted 1px;
}

a:active {
	position: relative;
	bottom: -1px;
}

footer {
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	padding: 20px 0;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 100px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
   h1 {
	background: transparent url(../images/notation-capital-logo@2x.png) no-repeat;
	background-size:124px 191px;
}
